@use 'mixins' as *;
@use 'media' as *;
@use 'var' as *;

html {
    font-size: 16px;
}

body {
    font: 400 #{rem(16)}/ 1.5 var(--ff-base);
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    color: var(--color-drk);
    background: var(--color-drk);

    &.is-locked {
        overflow: hidden;
    }
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

button {
    @include reset_button;
    display: flex;
    color: inherit;
}

a {
    @include reset_link;
}

.container {
    max-width: var(--container-width);
    padding-inline: var(--container-padding);
    width: 100%;
    margin: 0 auto;
}

section.information + section.feedback {
    padding-block: rem(280) rem(0);

    @include media('mobile-lg') {
        padding-block: rem(320) rem(64);
    }

    @include media('tablet') {
        padding-block: rem(250) rem(64);
    }

    @include media('laptop') {
        padding-block: rem(300) rem(64);
    }

    .decoration-wrapper {
        position: absolute;
        z-index: -1;
        left: 61px;
        transform: translateY(-20%);
        top: 0;
        pointer-events: none;
        @include media('mobile-lg') {
            left: 25px;
        }

        @include media('tablet') {
            display: flex;
            align-items: center;
            justify-content: space-between;
            justify-content: space-between;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            gap: 40px;
            top: 30px;
            opacity: 0.8;
        }
        @include media('laptop') {
            top: 50%;
            transform: translate(-50%, -100%);
            max-width: 88%;
        }

        @include media('desktop') {
            max-width: 80%;
        }
    }

    .decoration-chev {
        max-width: rem(198);

        @include media('mobile-lg') {
            max-width: rem(396);
            width: 100%;
        }

        &.scnd-el {
            display: none;
            @include media('tablet') {
                display: block;
            }
        }
    }
}

section.information + section {
    padding-block: rem(280) var(--section-pdd);

    @include media('mobile-lg') {
        padding-block: rem(320) var(--section-pdd);
    }

    @include media('tablet') {
        padding-block: rem(250) var(--section-pdd);
    }

    @include media('laptop') {
        padding-block: rem(300) var(--section-pdd);
    }

    .decoration-wrapper {
        position: absolute;
        z-index: -1;
        left: 61px;
        transform: translateY(-20%);
        top: 0;
        pointer-events: none;
        @include media('mobile-lg') {
            left: 25px;
        }

        @include media('tablet') {
            display: flex;
            align-items: center;
            justify-content: space-between;
            justify-content: space-between;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            gap: 40px;
            top: 30px;
            opacity: 0.8;
        }
        @include media('laptop') {
            top: 50%;
            transform: translate(-50%, -100%);
            max-width: 88%;
        }

        @include media('desktop') {
            max-width: 80%;
        }
    }

    .decoration-chev {
        max-width: rem(198);

        @include media('mobile-lg') {
            max-width: rem(396);
            width: 100%;
        }

        &.scnd-el {
            display: none;
            @include media('tablet') {
                display: block;
            }
        }
    }
}
section.information + section.information {
    padding-block: var(--section-pdd);

    .decoration-wrapper {
        position: absolute;
        z-index: -1;
        left: 61px;
        transform: translateY(-20%);
        top: 0;
        pointer-events: none;
        @include media('mobile-lg') {
            left: 25px;
        }

        @include media('tablet') {
            display: flex;
            align-items: center;
            justify-content: space-between;
            justify-content: space-between;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            gap: 40px;
            top: 30px;
            opacity: 0.8;
        }
        @include media('laptop') {
            top: 50%;
            transform: translate(-50%, -100%);
            max-width: 88%;
        }

        @include media('desktop') {
            max-width: 80%;
        }
    }

    .decoration-chev {
        max-width: rem(198);

        @include media('mobile-lg') {
            max-width: rem(396);
            width: 100%;
        }

        &.scnd-el {
            display: none;
            @include media('tablet') {
                display: block;
            }
        }
    }
}

section:has(+ .inclusive) {
    @include media('tablet') {
        padding-bottom: rem(120);
    }
}

section.inclusive + section {
    padding-top: rem(100);
    z-index: 2;
    position: relative;
    @include media('tablet') {
        padding-top: var(--section-pdd);
    }

    @include media('laptop') {
        padding-top: rem(150);
    }
}

section.shadows {
    @include media('mobile-lg') {
        box-shadow: 10px 10px 20px 15px #00000040;
    }
}

section.packages:has(+ section.birthdays) {
    padding-bottom: rem(280);

    @include media('mobile-lg') {
        padding-bottom: rem(320);
    }

    @include media('laptop') {
        padding-bottom: rem(420);
    }

    @include media('desktop') {
        padding-bottom: rem(460);
    }
}

.section--yellow {
    background: var(--color-accent);

    .content-title {
        color: var(--color-drk);
    }
    .slider-controls__btn {
        border: 1px solid var(--color-drk);
        color: var(--color-drk);
        background: var(--color-wht);
    }

    .slider-controls__pagination {
        .swiper-pagination-current {
            color: var(--color-drk);
        }
    }
}
