@use '../../base/media' as *;
@use '../../base/mixins' as *;

.address {
    position: relative;
    padding-block: var(--section-pdd);
    background: var(--color-accent);

    .container {
        display: flex;
        flex-direction: column;
        gap: rem(24);
        position: relative;
        z-index: 2;

        @include media('tablet') {
            flex-direction: row;
            align-items: stretch;
            gap: rem(23);
            justify-content: space-between;
        }
    }

    &__title {
        @include media('tablet') {
            margin-bottom: rem(32);
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: rem(16);

        @include media('tablet') {
            margin-bottom: rem(24);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(24);

        @include media('tablet') {
            gap: 0;
        }

        @include media('laptop') {
            max-width: rem(376);
            width: 100%;
        }

        @include media('desktop') {
            max-width: rem(384);
        }
    }

    &__place,
    &__contact {
        display: flex;
        flex-direction: column;
        gap: rem(8);
    }

    &__thumb {
        height: rem(252);
        border-radius: rem(16);
        overflow: hidden;
        box-shadow: 10px 10px 20px 0px #0000001a;

        @include media('tablet') {
            height: auto;
        }

        @include media('laptop') {
            max-width: rem(536);
            width: 100%;
        }

        @include media('desktop') {
            max-width: rem(696);
        }

        @include media('desktop-lg') {
            max-width: rem(784);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .fw-text {
        font: 700 #{rem(16)} / 140% var(--ff-base);
    }

    .lght-text {
        font: 400 #{rem(16)} / 140% var(--ff-base);
    }

    .decoration-chev {
        position: absolute;
        opacity: 0.5;
        top: rem(32);
        right: rem(16);
        max-width: rem(260);
        pointer-events: none;

        @include media('mobile-lg') {
            max-width: rem(396);
            right: rem(39);
        }

        @include media('tablet') {
            right: auto;
            left: rem(45);
        }

        @include media('desktop-lg') {
            left: rem(160);
        }
    }
}
