@use '../../base/media' as *;
@use '../../base/mixins' as *;

.hero {
    min-height: 100vh;
    min-height: 100svh;
    position: relative;

    @include media('tablet') {
        min-height: auto;
    }

    &::after {
        content: '';
        inset: 0;
        position: absolute;
        background: linear-gradient(
            270deg,
            rgba(35, 35, 35, 0.35) 0%,
            rgba(35, 35, 35, 0.7) 79.36%
        );
    }

    .container {
        position: relative;
        z-index: 3;
    }

    &__bg {
        position: absolute;
        inset: 0;
        object-fit: cover;
        height: 100%;
    }

    &__content {
        padding-block: rem(128) rem(37);
        display: flex;
        flex-direction: column;
        gap: rem(24);

        @include media('mobile-lg') {
            padding-block: rem(152) rem(64);
            gap: rem(16);
        }

        @include media('tablet') {
            padding-block: rem(252) rem(16);
        }

        @include media('laptop') {
            padding-block: rem(204) rem(43);
        }

        @include media('desktop') {
            padding-block: rem(232) rem(64);
        }
    }

    &__btns {
        display: flex;
        flex-direction: column;
        gap: rem(16);
        @include media('mobile-lg') {
            max-width: rem(320);
        }

        @include media('tablet') {
            max-width: rem(296);
            width: 100%;
        }

        @include media('desktop') {
            flex-direction: row;
            gap: rem(32);
            align-items: center;
            max-width: initial;

            .cta {
                max-width: rem(280);
                width: 100%;
            }
        }

        @include media('desktop-lg') {
            .cta {
                max-width: rem(376);
            }
        }
    }

    &__panel {
        display: flex;
        flex-direction: column;
        gap: rem(58);
        @include media('tablet') {
            flex-direction: row;
        }

        @include media('desktop') {
            gap: rem(20);
            margin-top: rem(-110);
        }

        @include media('desktop-lg') {
            align-items: flex-start;
            margin-top: 0;
        }
    }

    &__title {
        font: 800 #{rem(28)} / 120% var(--ff-base);
        text-transform: uppercase;
        text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.6);
        color: var(--color-wht);

        @include media('mobile-lg') {
            font-size: rem(40);
            margin-bottom: rem(16);
        }

        @include media('tablet') {
            margin-bottom: rem(18);
        }

        @include media('laptop') {
            font-size: rem(48);
            margin-bottom: rem(24);
            max-width: rem(736);
        }

        @include media('desktop') {
            font-size: rem(56);
            max-width: rem(859);
            margin-bottom: rem(72);
        }

        @include media('desktop-lg') {
            font-size: rem(72);
            max-width: rem(1104);
            margin-bottom: rem(40);
        }

        span {
            color: var(--color-accent);
            text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.6);
        }
    }

    &__description {
        font: 400 #{rem(16)} / 140% var(--ff-base);
        color: var(--color-wht);
        @include media('laptop') {
            max-width: rem(469);
            margin-bottom: rem(41);
        }

        @include media('desktop') {
            margin-bottom: rem(64);
        }

        @include media('desktop-lg') {
            font-size: rem(24);
            max-width: rem(703);
            margin-bottom: rem(74);
        }
    }

    &__benefits {
        display: flex;
        flex-direction: column;
        @include media('mobile-lg') {
            flex-direction: row;
            gap: rem(16);
        }

        @include media('tablet') {
            flex-direction: column;
            width: 100%;
            align-items: flex-end;
            margin-top: rem(80);
            @include media('laptop') {
                margin-top: rem(60);
            }

            @include media('desktop') {
                margin-top: 0;
            }

            @include media('desktop-lg') {
                width: auto;
            }
        }

        &-box {
            display: flex;
            flex-direction: column;
            max-width: rem(208);
            width: 100%;
            padding: rem(20) rem(14);
            padding-top: rem(62);
            border-radius: rem(16);
            position: relative;
            background: #232323cc;
            backdrop-filter: blur(20px);

            &:last-child {
                align-self: flex-end;
                margin-top: rem(-30);

                @include media('mobile-lg') {
                    margin-top: 0;
                }

                .hero__benefits-title {
                    order: 2;
                    margin-bottom: rem(6);
                }

                .hero__benefits-descr {
                    order: 1;
                    margin-bottom: rem(6);
                    @include media('tablet') {
                        text-align: left;
                    }

                    @include media('desktop-lg') {
                        font-size: rem(26);
                    }
                }

                .hero__benefits-reminder {
                    order: 3;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 1px;
                border-radius: rem(16);
                background: linear-gradient(
                    90deg,
                    rgba(255, 209, 0, 0.5) 0%,
                    rgba(255, 209, 0, 0.15) 100%
                );
                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;

                mask: linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                mask-composite: exclude;
                pointer-events: none;
            }

            &.box-biggest {
                @include media('mobile-lg') {
                    padding-left: rem(28);
                    padding-bottom: rem(23);
                }

                @include media('tablet') {
                    max-width: rem(259);
                    padding-top: rem(34);
                }

                @include media('laptop') {
                    max-width: rem(320);
                    margin-right: rem(120);
                    padding-left: rem(40);
                    padding-bottom: rem(40);
                }

                @include media('desktop') {
                    margin-right: rem(190);
                }
            }

            &.box-smaller {
                padding-top: rem(49);

                @include media('tablet') {
                    max-width: rem(328);
                    margin-top: rem(-50);
                    transform: translateX(-200px);
                }

                @include media('laptop') {
                    max-width: rem(344);
                    transform: translateX(0);
                }

                @include media('desktop') {
                    padding: rem(31);
                }

                .hero__benefits-title {
                    font-size: rem(16);

                    @include media('tablet') {
                        font-size: rem(24);
                    }

                    @include media('desktop') {
                        font-size: rem(32);
                    }
                }

                img {
                    width: rem(115);
                    height: rem(111);
                    right: 0;
                    @include media('tablet') {
                        width: rem(150);
                        height: rem(145);
                        right: 31px;
                    }

                    @include media('desktop') {
                        width: rem(201);
                        height: rem(194);
                        right: 0;
                        transform: translateY(-67%);
                    }
                }
            }

            img {
                transform: translateY(-40%);
                position: absolute;
                right: 11px;
                top: 0;
                width: rem(134);
                height: rem(124);
                object-fit: contain;

                @include media('desktop') {
                    width: rem(178);
                    height: rem(165);
                    right: 30px;
                    transform: translateY(-65%);
                }
            }
        }

        &-title {
            font: 800 #{rem(36)} / 100% var(--ff-base);
            text-transform: uppercase;
            position: relative;
            z-index: 2;
            font-style: italic;
            display: inline-flex;
            margin-bottom: rem(4);
            color: var(--color-accent);
            @include media('tablet') {
                font-size: rem(48);
                text-align: center;
            }
            @include media('laptop') {
                text-align: left;
            }

            @include media('desktop-lg') {
                font-size: rem(56);
            }
        }

        &-descr {
            font: 700 #{rem(16)} / 100% var(--ff-base);
            font-style: italic;
            position: relative;
            z-index: 2;
            color: var(--color-wht);
            @include media('tablet') {
                font-size: rem(24);
                text-align: center;
            }
            @include media('laptop') {
                text-align: left;
            }

            @include media('desktop') {
                font-size: rem(26);
            }

            @include media('desktop-lg') {
                font-size: rem(34);
            }
        }

        &-reminder {
            max-width: rem(163);
            position: relative;
            z-index: 2;
            font: 400 #{rem(14)} / 140% var(--ff-base);
            color: var(--color-wht);
            @include media('tablet') {
                max-width: 100%;
            }
        }
    }
}
