@use '../../base/media' as *;
@use '../../base/mixins' as *;

.menu {
    overflow: hidden;
    position: relative;
    padding-block: rem(128) rem(56);

    @include media('mobile-lg') {
        padding-block: rem(152) rem(56);
    }

    @include media('tablet') {
        padding-block: rem(252) rem(64);
    }

    @include media('laptop') {
        padding-block: rem(204) rem(72);
    }

    @include media('desktop') {
        padding-block: rem(232) rem(88);
    }

    @include media('desktop-lg') {
        padding-block: rem(232) rem(96);
    }

    &__filters {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(16);
        margin-bottom: rem(56);
        @include media('tablet') {
            gap: rem(24);
            margin-bottom: rem(64);
        }
        @include media('laptop') {
            margin-bottom: rem(72);
        }

        @include media('desktop') {
            gap: rem(32);
            margin-bottom: rem(88);
        }

        @include media('desktop-lg') {
            gap: rem(30);
            margin-bottom: rem(96);
        }
    }

    &__filter {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: rem(16);
        gap: rem(4);
        border-radius: rem(16);
        border: 1px solid transparent;
        background: var(--color-violet);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include hover {
            border-color: var(--color-accent);
        }

        @include media('mobile-lg') {
            padding: rem(23);
        }

        @include media('laptop') {
            padding: rem(31) rem(39);
        }

        @include media('desktop') {
            flex-direction: row;
            align-items: center;
            gap: rem(32);
        }

        &.is-active {
            background: var(--color-drk);
            border-color: var(--color-accent);
            box-shadow: 5px 5px 20px 0px #00000080 inset;

            .menu__filter-title {
                text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.6);
            }
        }

        &-title {
            font: 800 #{rem(16)} / 120% var(--ff-base);
            text-transform: uppercase;
            color: var(--color-wht);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include media('mobile-lg') {
                font-size: rem(24);
            }

            @include media('laptop') {
                font-size: rem(32);
            }

            @include media('desktop-lg') {
                font-size: rem(50);
            }
        }

        &-descr {
            font: 700 #{rem(8)} / 140% var(--ff-base);
            color: var(--color-accent);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include media('mobile-lg') {
                font-size: rem(10);
            }
            @include media('tablet') {
                font-size: rem(14);
            }
            @include media('laptop') {
                font-size: rem(16);
            }
        }
    }

    &__catalog {
        position: relative;
        &::after,
        &::before {
            z-index: -1;
            pointer-events: none;
            content: '';
            position: absolute;
            border-radius: 50%;
            height: rem(480);
            width: rem(480);
            transform: translateZ(0);
            background: #ffef4726;
            filter: blur(300px);
            @include media('laptop') {
                height: rem(730);
                width: rem(730);
            }
        }

        &::after {
            transform: translateY(-50%);
            top: 0;
            left: 0;
        }
        &::before {
            bottom: 0;
            right: 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: rem(56);
        @include media('mobile-lg') {
            gap: rem(64);
        }
        @include media('laptop') {
            gap: rem(72);
        }
        @include media('desktop') {
            gap: rem(88);
        }
    }

    &__head {
        position: relative;
    }

    &__title {
        text-align: center;
        margin-bottom: rem(24);
        color: var(--color-wht);
        @include media('mobile-lg') {
            margin-bottom: rem(40);
        }
        @include media('desktop') {
            margin-bottom: rem(48);
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: rem(24);
        @include media('mobile-lg') {
            grid-template-columns: repeat(2, 1fr);
            gap: rem(16);
        }
        @include media('tablet') {
            gap: rem(24);
        }

        @include media('laptop') {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media('desktop') {
            grid-template-columns: repeat(4, 1fr);
            gap: rem(32);
        }
    }

    .decoration-wrapper {
        z-index: -1;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        gap: rem(4);
        justify-content: space-between;
        @include media('mobile-lg') {
            transform: translateY(0);
        }

        @include media('desktop-lg') {
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
        }

        .decoration-chev {
            max-width: rem(80);
            @include media('mobile-lg') {
                max-width: rem(136);
            }
            @include media('tablet') {
                max-width: rem(240);
            }
            @include media('laptop') {
                max-width: rem(296);
            }
            @include media('desktop') {
                max-width: rem(376);
            }
        }
    }
}
