@use '../../base/media' as *;
@use '../../base/mixins' as *;

.scenario {
    position: relative;
    overflow: hidden;
    padding-block: var(--section-pdd);

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        height: 100%;
        pointer-events: none;
        background: #ffffff4d;
    }

    &:has(.scenario__head) {
        .scenario__title {
            margin-bottom: 0;
            text-align: left;
        }
    }

    .container {
        position: relative;
        z-index: 2;
    }

    &__head {
        display: flex;
        flex-direction: column;
        gap: rem(8);
        margin-bottom: rem(24);

        @include media('tablet') {
            flex-direction: row;
            align-items: center;
            gap: rem(38);

            .scenario__title {
                margin: 0;
            }
        }
    }

    &__subtitle {
        font: 700 #{rem(16)} / 140% var(--ff-base);

        @include media('tablet') {
            max-width: rem(328);
        }
    }

    &__services {
        display: flex;
        flex-direction: column;
        gap: rem(24);
        @include media('tablet') {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @include media('desktop') {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            flex-direction: row;

            .shwprograms-box {
                max-width: rem(384);
                height: auto;
            }
        }

        @include media('desktop-lg') {
            .shwprograms-box {
                max-width: rem(470);
            }
        }
    }

    &__title {
        text-align: center;
        margin-bottom: rem(48);

        @include media('tablet') {
            text-align: left;
            margin-left: rem(100);
        }

        @include media('desktop-lg') {
            margin-left: 0;
        }
    }

    &__boxes {
        display: flex;
        flex-direction: column;
        gap: rem(40);
        @include media('tablet') {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: rem(24);
        }

        @include media('laptop') {
            display: flex;
            justify-content: center;
            flex-direction: row;
        }

        .price-box {
            @include media('laptop') {
                max-width: rem(488);
            }
        }
    }

    &__deco {
        display: none;
        @include media('laptop') {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: rem(1520);
        }
    }

    &__bg {
        position: absolute;
        inset: 0;
        object-fit: cover;
        pointer-events: none;
        height: 100%;
    }

    .decoration-chev {
        display: none;

        @include media('tablet') {
            display: block;
            z-index: 1;
            position: absolute;
            max-width: rem(396);

            &.frst-el {
                right: rem(-100);
                top: rem(52);
            }

            &.scnd-el {
                right: rem(-250);
                top: rem(400);
            }

            &.thrd-el {
                left: 50%;
                transform: translateX(-50%);
                bottom: rem(24);
            }
        }

        @include media('desktop') {
            &.frst-el {
                right: auto;
                left: 50%;
                top: rem(52);
            }

            &.scnd-el {
                right: rem(100);
                top: rem(400);
            }

            &.thrd-el {
                transform: translateX(-70%);
            }
        }

        @include media('desktop-lg') {
            &.frst-el {
                left: 30%;
            }

            &.thrd-el {
                transform: translateX(0%);
                left: rem(200);
                bottom: rem(162);
            }
        }
    }
}
