@use '../../base/media' as *;
@use '../../base/mixins' as *;

.seo {
    position: relative;
    overflow: hidden;
    padding-block: var(--section-pdd);

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        height: 100%;
        pointer-events: none;
        background: #ffffff4d;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &__bg {
        position: absolute;
        inset: 0;
        object-fit: cover;
        pointer-events: none;
        height: 100%;
    }

    &__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: rem(24);
        margin-bottom: rem(32);
        @include media('mobile-lg') {
            gap: rem(32);
        }
        @include media('tablet') {
            gap: rem(24);
        }
    }

    &__descr {
        max-width: rem(716);
        font: 700 #{rem(20)} / 120% var(--ff-base);
        @include media('tablet') {
            font-size: rem(24);
        }
    }

    &__content {
        font: 400 #{rem(16)} / 140% var(--ff-base);

        &.container-flex {
            display: flex;
            flex-direction: column;
            gap: rem(24);
            @include media('laptop') {
                flex-direction: row;
                gap: rem(30);

                div {
                    width: 50%;
                }
            }
        }

        &.container-hidden {
            height: 0;
            overflow: hidden;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            &.is-active {
                padding-top: rem(24);
            }
        }

        ul,
        ol {
            margin-top: 0;
            padding-left: rem(20);
        }
    }

    &__more {
        font: 400 #{rem(16)} / 140% var(--ff-base);
        margin: rem(32) auto 0;
        padding-bottom: rem(4);
        border-bottom: 1px solid var(--color-drk);
    }
}
