@use '../../base/media' as *;
@use '../../base/mixins' as *;

.stock {
    padding-block: var(--section-pdd);
    position: relative;
    overflow: hidden;

    &::after,
    &::before {
        pointer-events: none;
        content: '';
        position: absolute;
        border-radius: 50%;
        height: rem(400);
        width: rem(400);
        background: #ffef4726;
        filter: blur(300px);
        @include media('laptop') {
            height: rem(671);
            width: rem(671);
        }

        @include media('desktop-lg') {
            height: rem(924);
            width: rem(924);
        }
    }

    &::before {
        bottom: 263px;
        right: 0;
        transform: translate(30%, -30%);

        @include media('desktop') {
            bottom: 0;
        }
    }

    &::after {
        top: 0;
        left: 0;
        transform: translate(-30%, -30%);
    }

    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        gap: rem(56);

        @include media('mobile-lg') {
            gap: rem(64);
        }

        @include media('laptop') {
            gap: rem(72);
        }
    }

    &__discounts,
    &__location {
        &-slider {
            min-width: 0;
            width: 100%;
            margin-bottom: rem(24);

            @include media('tablet') {
                margin-bottom: 0;
            }
        }

        &-slide {
            height: auto;
        }
    }

    &__location {
        .stock__wrapper {
            @include media('desktop-lg') {
                flex-direction: row-reverse;
            }
        }
    }

    &__discounts {
        &-slider {
            @include media('desktop') {
                max-width: rem(1008);
            }
        }
        .stock__title {
            @include media('tablet') {
                max-width: rem(178);
            }

            @include media('laptop') {
                max-width: 50%;
            }

            @include media('desktop') {
                margin-left: rem(100);
            }

            @include media('desktop-lg') {
                margin-left: 0;
                max-width: 100%;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column-reverse;
        @include media('tablet') {
            flex-direction: column;
            gap: rem(40);
        }

        @include media('desktop-lg') {
            flex-direction: row;
            align-items: center;
            gap: rem(91);
        }
    }

    &__panel {
        @include media('tablet') {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(20);
        }

        @include media('desktop-lg') {
            flex-direction: column;
            gap: rem(48);
            align-items: center;
            text-align: center;
            max-width: rem(353);
        }
    }

    &__title {
        text-align: center;
        margin-bottom: rem(24);
        color: var(--color-wht);

        @include media('mobile-lg') {
            font-size: rem(36);
            margin-bottom: rem(32);
        }

        &.mobile--visible {
            @include media('tablet') {
                display: none;
            }
        }

        &.mobile--hidden {
            display: none;

            @include media('tablet') {
                display: block;
                margin-bottom: 0;
                text-align: left;
            }

            @include media('laptop') {
                max-width: 50%;
            }

            @include media('desktop-lg') {
                max-width: 100%;
            }
        }
    }

    .decoration-chev {
        pointer-events: none;
        max-width: rem(217);
        position: absolute;

        @include media('mobile-lg') {
            max-width: rem(280);
        }

        @include media('desktop') {
            max-width: rem(396);
        }

        img {
            width: 100%;
        }

        &.frst-el {
            left: 16px;
            top: 24px;
            @include media('desktop') {
                left: 60px;
            }
            @include media('desktop-lg') {
                top: 56px;
                left: 100px;
            }
        }

        &.scnd-el {
            right: 37px;
            top: 410px;
            @include media('desktop') {
                right: 60%;
                transform: translateX(50%);
            }
        }

        &.thrd-el {
            left: 30px;
            top: 600px;

            @include media('desktop') {
                top: 750px;
                left: 60%;
                transform: translateX(-50%);
            }

            @include media('desktop-lg') {
                transform: translate(0);
                left: auto;
                right: 200px;
            }
        }

        &.frth-el {
            right: 37px;
            bottom: 150px;

            @include media('tablet') {
                bottom: -24px;
            }
            @include media('laptop') {
                right: 200px;
            }

            @include media('desktop-lg') {
                right: auto;
                left: 400px;
            }
        }
    }
}
