@use '../base/media' as *;
@use '../base/mixins' as *;

.location-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: rem(32);
    padding: rem(32) rem(15);
    backdrop-filter: blur(20px);
    // box-shadow: 10px 10px 20px 0px #00000033;
    background: #232323cc;

    @include media('mobile-lg') {
        padding: rem(39) rem(47);
    }

    @include media('tablet') {
        padding: rem(31);
        border-radius: rem(16);
    }

    @include media('laptop') {
        border-radius: rem(32);
        padding: rem(39) rem(47);
    }

    &--contacts {
        padding: rem(23) rem(15);
        background: var(--color-drk);

        @include media('mobile-lg') {
            padding: rem(39) rem(47);
        }

        @include media('tablet') {
            padding: rem(49) rem(31);
        }

        @include media('laptop') {
            padding: rem(40) rem(47);
        }

        @include media('desktop') {
            padding: rem(39) rem(40);
        }

        .location-box__title {
            @include media('mobile-lg') {
                margin-bottom: rem(42);
            }

            @include media('tablet') {
                font-weight: 600;
                margin-bottom: rem(8);
            }
        }

        .location-box__link {
            font: 400 #{rem(16)} / 140% var(--ff-base);
            justify-content: center;
            color: var(--color-accent);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            @include hover {
                color: var(--color-wht);
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1px;
        border-radius: rem(32);
        background: linear-gradient(
            90deg,
            rgba(255, 209, 0, 0.5) 0%,
            rgba(255, 209, 0, 0.15) 100%
        );
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;

        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
        pointer-events: none;

        @include media('tablet') {
            border-radius: rem(16);
        }

        @include media('laptop') {
            border-radius: rem(32);
        }
    }

    &__phone {
        font: 400 #{rem(16)} / 140% var(--ff-base);
        justify-content: center;
        margin-bottom: rem(5);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        color: var(--color-wht);

        @include hover {
            color: var(--color-accent);
        }
    }

    &__time {
        font: 400 #{rem(16)} / 140% var(--ff-base);
        text-align: center;
        margin-bottom: rem(17);
        color: var(--color-wht);
    }

    &__img {
        width: 100%;
        border-radius: rem(13);
        overflow: hidden;
        margin-bottom: rem(24);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font: 700 #{rem(20)} / 120% var(--ff-base);
        text-align: center;
        margin-bottom: rem(15);
        color: var(--color-accent);

        @include media('tablet') {
            font-size: rem(24);
            margin-bottom: rem(16);
        }
    }

    &__subtitle {
        font: 400 #{rem(16)} / 120% var(--ff-base);
        text-align: center;
        margin-bottom: rem(24);
        color: #fff;
        @include media('tablet') {
            margin-bottom: rem(16);
        }

        @include media('laptop') {
            margin-bottom: rem(32);
        }
    }

    &__link {
        margin-top: auto;
    }
}
