@use '../base/media' as *;
@use '../base/mixins' as *;

.price-box {
    display: flex;
    flex-direction: column;
    padding: rem(24);
    border-radius: rem(16);
    background: var(--color-drk);
    border: 1px solid var(--color-accent);
    color: var(--color-wht);
    backdrop-filter: blur(20px);
    box-shadow: 10px 10px 20px 0px #00000033;

    @include media('mobile-lg') {
        border-radius: rem(32);
    }

    @include media('desktop') {
        padding: rem(16);
    }

    @include media('desktop-lg') {
        padding: rem(24);
    }

    &--popular {
        position: relative;

        .label {
            border-radius: rem(16) rem(16) 0 rem(16);
            display: inline-flex;
            position: absolute;
            top: -1px;
            right: -1px;
            font: 800 #{rem(16)} / 30px var(--ff-base);
            text-transform: uppercase;
            padding: rem(12) rem(18);
            border: 1px solid var(--color-accent);
            background: var(--color-grn);
            @include media('mobile-lg') {
                border-radius: rem(32) rem(32) 0 rem(32);
            }
        }
    }

    .row {
        &:last-child {
            @include media('laptop') {
                margin-top: auto;
            }
        }
    }

    &__img {
        border-radius: rem(13);
        overflow: hidden;
        margin-bottom: rem(24);

        img {
            height: 100%;
            object-fit: cover;
        }

        @include media('laptop') {
            height: rem(230);
            margin-bottom: rem(12);
        }

        @include media('desktop-lg') {
            height: auto;
            margin-bottom: rem(24);
        }
    }

    &__name {
        font: 800 #{rem(24)} / 120% var(--ff-base);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: rem(16);
        color: var(--color-accent);

        @include media('laptop') {
            // font-size: rem(32);
            font-size: rem(24);
        }

        // @include media('desktop') {
        //     font-size: rem(24);
        // }

        @include media('desktop-lg') {
            font-size: rem(32);
        }
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(8);
        margin-bottom: rem(16);
        @include media('mobile-lg') {
            grid-template-columns: repeat(3, 1fr);
        }
        @include media('tablet') {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        @include media('laptop') {
            justify-content: space-around;
        }

        @include media('desktop-lg') {
            justify-content: space-between;
        }
    }

    &__time {
        font: 700 #{rem(20)} / 120% var(--ff-base);
        grid-column: span 2;
        text-align: center;
        color: var(--color-accent);
        @include media('mobile-lg') {
            grid-column: span 1;
        }
        @include media('laptop') {
            // font-size: rem(24);
            font-size: rem(20);
        }

        // @include media('desktop') {
        //     font-size: rem(20);
        // }

        @include media('desktop-lg') {
            font-size: rem(24);
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(8);

        @include media('laptop') {
            gap: rem(4);
        }

        @include media('desktop-lg') {
            gap: rem(8);
        }

        &.old-price {
            span:first-child {
                text-decoration: line-through;
            }
        }
        &.new-price {
            span:first-child {
                color: var(--color-accent);
            }
        }

        span {
            &:first-child {
                font: 700 #{rem(20)} / 120% var(--ff-base);
                @include media('laptop') {
                    // font-size: rem(24);
                    font-size: rem(20);
                }

                // @include media('desktop') {
                //     font-size: rem(20);
                // }

                @include media('desktop-lg') {
                    font-size: rem(24);
                }
            }

            &:last-child {
                font: 400 #{rem(16)} / 140% var(--ff-base);
                @include media('laptop') {
                    font-size: rem(14);
                }

                @include media('desktop-lg') {
                    font-size: rem(16);
                }
            }
        }
    }

    &__descr {
        font: 400 #{rem(16)} / 140% var(--ff-base);
        margin-bottom: rem(16);

        @include media('laptop') {
            font-size: rem(14);
            margin-bottom: rem(14);
        }

        @include media('desktop-lg') {
            font-size: rem(16);
            margin-bottom: rem(16);
        }
    }

    &__text {
        font: 400 #{rem(16)} / 140% var(--ff-base);
        margin-bottom: rem(16);
        @include media('laptop') {
            font-size: rem(14);
            margin-bottom: rem(14);
        }
        @include media('desktop-lg') {
            font-size: rem(16);
            margin-bottom: rem(16);
        }
    }

    &__accent {
        font: 700 #{rem(16)} / 140% var(--ff-base);
        margin-bottom: rem(16);
        color: var(--color-accent);

        @include media('laptop') {
            font-size: rem(14);
            margin-bottom: rem(14);
        }

        @include media('desktop-lg') {
            font-size: rem(16);
            margin-bottom: rem(16);
        }

        span {
            text-decoration: line-through;
            color: var(--color-wht);
        }
    }

    &__link {
        width: 100%;
        @include media('laptop') {
            padding-block: rem(16);
        }
        @include media('desktop-lg') {
            padding: rem(22);
        }
    }
}
