@use '../base/media' as *;
@use '../base/mixins' as *;

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    padding-block: rem(24);
    background: #232323cc;
    backdrop-filter: blur(20px);
    @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

    @include media('tablet') {
        padding-block: rem(27) rem(35);
    }

    @include media('laptop') {
        padding-block: rem(32);
    }

    @include media('desktop-lg') {
        padding-block: rem(24);
    }

    &.is-transform {
        transform: translateY(-100%);
    }

    &.is-scroll {
        padding-block: rem(12);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(
            90deg,
            rgba(255, 209, 0, 0.5) 0%,
            rgba(255, 209, 0, 0.15) 100%
        );
    }

    &__inner {
        @include media('laptop') {
            display: flex;
            align-items: center;
            gap: rem(46);
        }
        @include media('desktop') {
            gap: rem(66);
            // flex: 1;
        }

        @include media('desktop-lg') {
            padding-right: 30px;
        }
    }

    &__nav {
        display: none;
        @include media('desktop') {
            display: block;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: rem(23);

        @include media('desktop-lg') {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                transform: translate(-50%, 50%);
                top: 50%;
                left: 50%;
                border-radius: 50%;
                background: var(--color-accent);
                width: rem(8);
                height: rem(8);
            }
        }

        .menu-group {
            display: flex;
            align-items: center;
            gap: rem(47);
        }

        li {
            font: 600 #{rem(16)} / 120% var(--ff-base);
            text-transform: uppercase;
            color: var(--color-wht);

            a {
                font: inherit;
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
                @include hover {
                    color: var(--color-accent);
                }
            }

            &:has(.header__dd) {
                position: relative;
            }

            &:has(.header__dd:is(:hover, :focus-within)) {
                > a {
                    color: var(--color-accent);
                }
            }

            @include hover {
                .header__dd {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }

    &__dd {
        width: max-content;
        position: absolute;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

        .fw-text {
            display: inline-flex;
            align-items: center;
            gap: rem(16);
            font: 700 #{rem(16)} / 140% var(--ff-base);
            color: var(--color-accent);

            &::before {
                content: '';
                display: inline-flex;
                flex-shrink: 0;
                width: rem(8);
                height: rem(8);
                border-radius: 50%;
                background: var(--color-accent);
            }
        }

        .lght-text {
            font: 400 #{rem(16)} / 140% var(--ff-base);
            color: var(--color-wht);
        }

        ul {
            z-index: 5;
            position: relative;
            padding: 0;
            margin: 0;
            margin-top: rem(8);
            padding: rem(31) rem(38);
            border-radius: rem(16);
            background: rgba(28, 28, 28, 0.98);
            backdrop-filter: blur(20px);
            border: 1px solid var(--color-accent);

            li {
                list-style-type: none;
                width: max-content;
            }
        }

        &--menu {
            ul {
                display: flex;
                flex-direction: column;
                gap: rem(16);
            }
        }

        &--locations {
            ul {
                display: flex;
                flex-direction: column;
                gap: rem(32);
            }
            a {
                display: flex;
                flex-direction: column;
                gap: rem(8);
            }
        }

        &--services {
            ul {
                max-width: min-content;
                gap: rem(16) rem(40);
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .menu-panel {
        @include media('desktop-lg') {
            max-width: 910px;
            width: 100%;
        }
    }

    &__logo {
        width: rem(70);
        min-width: rem(50);
        height: rem(56);

        @include media('mobile-lg') {
            width: rem(80);
        }

        @include media('tablet') {
            width: rem(97);
            height: rem(78);
        }

        @include media('desktop') {
            width: rem(114);
            height: rem(92);
        }

        @include media('desktop-lg') {
            width: rem(139);
            height: rem(112);
        }

        img {
            object-fit: contain;
        }
    }

    &__bot {
        display: none;
        @include media('tablet') {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @include media('laptop') {
            flex-direction: column;
            gap: rem(8);
            align-items: flex-start;
        }

        @include media('desktop') {
            margin: 0 auto;
            flex-direction: row;
            align-items: center;
            gap: rem(92);
            padding-bottom: rem(19);
            border-bottom: 1px solid var(--color-accent);
        }

        @include media('desktop-lg') {
            gap: rem(87);
        }

        .lang-switcher {
            display: none;
            @include media('desktop') {
                display: inline-flex;
            }
        }
    }

    &__location {
        cursor: pointer;
        font: 400 #{rem(16)} / 120% var(--ff-base);
        position: relative;
        color: var(--color-accent);

        span {
            cursor: pointer;
        }
    }

    &__city {
        z-index: 2;
        pointer-events: none;
        position: absolute;
        width: 100%;
        bottom: 0px;
        opacity: 0;
        transform: translateY(90%);
        // border-radius: rem(16) 0 rem(16) rem(16);
        // background: #1c1c1ccc;
        // border: 1px solid var(--color-accent);
        // backdrop-filter: blur(20px);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

        &.is-show {
            transform: translateY(100%);
            opacity: 1;
            pointer-events: all;
        }

        ul {
            border-radius: rem(16) 0 rem(16) rem(16);
            background: #1c1c1ccc;
            border: 1px solid var(--color-accent);
            backdrop-filter: blur(20px);
            margin: 0;
            margin-top: rem(8);
            padding: rem(12) rem(15);
            display: flex;
            flex-direction: column;
            gap: rem(12);

            li {
                font: 700 #{rem(14)} / 140% var(--ff-base);
                list-style-type: none;
                display: inline-flex;
                align-items: center;
                gap: rem(12);
                color: var(--color-accent);

                &::before {
                    content: '';
                    border-radius: 50%;
                    width: rem(8);
                    height: rem(8);
                    display: inline-flex;
                    flex-shrink: 0;
                    background: var(--color-accent);
                }
            }
        }
    }

    &__numbers {
        display: flex;
        align-items: center;
        gap: rem(27);

        @include media('laptop') {
            flex-direction: column;
            gap: 0;
        }

        @include media('desktop') {
            flex-direction: row;
            gap: rem(28);
        }

        @include media('desktop-lg') {
            gap: rem(80);
            flex: 1;
            justify-content: flex-end;
        }
    }

    &__number {
        color: var(--color-wht);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include hover {
            color: var(--hover-accent);
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: rem(21);
        justify-content: space-between;

        @include media('tablet') {
            margin-bottom: rem(26);
        }

        @include media('laptop') {
            margin-bottom: 0;
        }

        @include media('desktop') {
            gap: rem(37);
        }
    }

    &__panel {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: rem(21);
        @include media('mobile-lg') {
            gap: rem(32);
        }
        @include media('laptop') {
            flex-direction: row;
        }

        @include media('desktop-lg') {
            max-width: 376px;
            width: 100%;
        }
    }

    &__call {
        justify-content: center;
        font: 700 #{rem(16)} / 120% var(--ff-base);
        text-transform: uppercase;
        padding: rem(18) rem(27);
        border-radius: rem(16);
        display: none;
        background: var(--color-accent);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include hover {
            background: var(--hover-accent);
        }
        @include media('tablet') {
            display: inline-flex;
        }
        @include media('laptop') {
            padding: rem(22) rem(54);
        }

        @include media('desktop') {
            padding: rem(22) rem(46);
        }

        @include media('desktop-lg') {
            max-width: rem(376);
            width: 100%;
        }
    }

    &__phone {
        display: inline-flex;
        flex-shrink: 0;
        width: rem(56);
        height: rem(56);
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: var(--color-accent);

        @include media('tablet') {
            display: none;
        }

        img {
            width: rem(35);
            height: rem(35);
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: rem(8);
        padding: rem(14) rem(13);
        border-radius: rem(16);
        border: 1px solid var(--color-accent);
        color: var(--color-accent);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include hover {
            background: var(--hover-accent);
            color: var(--color-drk);
        }

        @include media('mobile-lg') {
            padding: rem(14) rem(57);
        }

        @include media('laptop') {
            padding: rem(18) rem(61);
        }

        @include media('desktop') {
            display: none;
        }

        span {
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            &:first-child {
                display: inline-flex;
                flex-shrink: 0;
                width: rem(26);
                height: rem(26);

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &:last-child {
                font: 700 #{rem(16)} / 120% var(--ff-base);
                text-transform: uppercase;
            }

            svg {
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
            }
        }
    }
}
